{% extends 'base.html' %}

{% block head %}
    {{ claims|json_script:'claims_json' }}
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
{% endblock %}

{% block content %}
    <div class="claims" id="claims">
        <div class="accepted">
            <h4>Регистрация заявки</h4>
        </div>
        <div class="received">
            <h4>Поступившие заявки</h4>

            <div class="table-container relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Время</th>
                            <th scope="col" class="px-6 py-3">Телефон</th>
                            <th scope="col" class="px-6 py-3">Координаты</th>
                            <th scope="col" class="px-6 py-3">Подробности</th>
                            <th scope="col" class="px-6 py-3">Фото</th>
                        </tr>
                    </thead>
                    <tbody id="claims_table">

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        let table = document.getElementById('claims_table')
        const claims = JSON.parse(document.getElementById('claims_json').textContent);
        function add_claim(claim) {
            let tr = document.createElement('tr');
            tr.innerHTML += `
                <td>${claim.dt}</td>
                <td>${claim.phone}</td>
                <td>${claim.coords}</td>
                <td>${claim.description}</td>
                <td><img src="${claim.photo}" width="100" height="auto"></td>
            `;
            table.appendChild(tr);
        }
        claims.forEach(add_claim);
    </script>

    <style>
        .claims {
            display: flex;
            flex-direction: row;
            height: 40vh;
        }

        .received {
            width: 60%;
            height: 100%
        }

        .accepted {
            width: 40%;
        }

        #claims_table {
        }

        .table-container {
            height: 100%;
            overflow-y: auto;
        }

    </style>
{% endblock %}
