{% extends 'base.html' %}
{% load static %}

{% block head %}
    {{ problem_places|json_script:'problem_places' }}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=57dec7ab-0027-4131-915f-10193ff16f29&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="maps">
        <div class="constructor_map" id="map">
            <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad4238a01e4de1c190c23c52afa41cff5d9de77313ebeaf837f4b86c13f2366c5&amp;width=960&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script> -->
            <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad4238a01e4de1c190c23c52afa41cff5d9de77313ebeaf837f4b86c13f2366c5&amp;width=960&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script> -->
            <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8591b5e3bd0516d8c6d5b3c15b951ed16e305cc4466bdecb756748f9cbc0d378&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script> -->
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8ff03a9d95df6659604d3bcb60e8d341a62d9e56d11d2109f6e578c951247aa6&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
            <!-- //src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A2d7260ac0873f658a441ae29ee4c2da9f605259715b56c8d1bdecfaf998ea282&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script> -->
        </div>
        <div id="api_map"></div>
    </div>

    <div class="problems" id="problems">
    </div>

    <script src="{% static 'js/index.js' %}"></script>


    <style>
        .maps {
            display: flex;
            flex-direction: row;
            height: 70%;
        }
        .constructor_map {
            width:50%;
            height: 100%;
            padding-right: 5px;
        }
        #api_map {
            width:50%;
            height: 100%;
            padding-left: 5px;
        }
        .problems {
            text-align: center;
            height: 30%;
            overflow-y: auto;
        }
        .problems > div {
            padding: 15px 20px 15px 10px;
            font-size: 14pt;
            border-bottom: 1px solid lightgray;
        }
        .problems > div a {
            text-decoration: none;
            width: 100%;
            display:block;
        }
        .problems > div:hover {
            background: lightgrey;
        }
        </style>
        
{% endblock %}
